.bdsft-webrtc
    .history-row
      .row
        span.direction
        a.destination(href='', title='Number')
        span.details-arrow.icon-angle-right
        div          
          span.length
          span.date