.bdsft-webrtc
  .callHistory.popup.fadeable.classes
    .table
      .row
        .cell
          .content
        .cell.callHistoryDetails.details
          #history-dt-close-container
            span.detailsClose.cell
              a.icon-cancel3(href='', title='Close')
          .statsHolder
      .row
        .cell.classHistoryActions
          span.paging
            .forward
              a.historyForwardIcon.icon-arrow-down-thick(href='', title='Next')
          span.paging
            .back
              a.historyBackIcon.icon-arrow-up-thick(href='', title='Previous')
          span.clear
            a(href='', title='Clear History') Clear
          span.close
            a(href='', title='Close History') Close
        .cell.actions.details
          a.callLink(href='', title='Call')
