.bdsft-webrtc
  .stats.classes
      .avgVideoGoogFrameWidthReceivedRow
        .col Resolution In
        .col
          span.statsVar.avgVideoGoogFrameWidthReceived
          |  x 
          span.statsVar.avgVideoGoogFrameHeightReceived
      .avgVideoGoogFrameWidthSentRow
        .col Resolution Out
        .col
          span.statsVar.avgVideoGoogFrameWidthSent
          |  x 
          span.statsVar.avgVideoGoogFrameHeightSent
      .avgVideoKiloBitsReceivedPerSecondRow
        .col Video Bitrate In
        .col
          .statsVar.avgVideoKiloBitsReceivedPerSecond
      .avgVideoKiloBitsSentPerSecondRow
        .col Video Bitrate Out
        .col
          .statsVar.avgVideoKiloBitsSentPerSecond
      .avgAudioKiloBitsReceivedPerSecondRow
        .col Audio Bitrate In
        .col
          .statsVar.avgAudioKiloBitsReceivedPerSecond
      .avgAudioKiloBitsSentPerSecondRow
        .col Audio Bitrate Out
        .col
          .statsVar.avgAudioKiloBitsSentPerSecond
      .avgVideoGoogFrameRateReceivedRow
        .col Frame Rate In
        .col
          .statsVar.avgVideoGoogFrameRateReceived
      .avgVideoGoogFrameRateSentRow
        .col Frame Rate Out
        .col
          .statsVar.avgVideoGoogFrameRateSent
      .avgVideoPacketsLostPerRow
        .col Video Lost
        .col
          .statsVar.avgVideoPacketsLostPer %
      .avgAudioPacketsLostPerRow
        .col Audio Lost
        .col
          .statsVar.avgAudioPacketsLostPer %
      .avgAudioGoogJitterReceivedRow
        .col Jitter
        .col
          .statsVar.avgAudioGoogJitterReceived
      .videoGoogFrameWidthReceived.hidden
      .videoGoogFrameHeightReceived.hidden
      .videoGoogFrameWidthSent.hidden
      .videoGoogFrameHeightSent.hidden
      .videoKiloBitsReceivedPerSecond.hidden
      .videoKiloBitsSentPerSecond.hidden
      .audioKiloBitsReceivedPerSecond.hidden
      .audioKiloBitsSentPerSecond.hidden
      .videoGoogFrameRateReceived.hidden
      .videoGoogFrameRateSent.hidden
      .videoPacketsLostPer.hidden
      .audioPacketsLostPer.hidden
      .videoPacketsLost.hidden
      .audioPacketsLost.hidden
      .audioAudioInputLevel.hidden
      .audioAudioOutputLevel.hidden
      .audioGoogRtt.hidden
      .avgVideoPacketsLost.hidden
      .avgAudioPacketsLost.hidden
      .avgAudioAudioInputLevel.hidden
      .avgAudioAudioOutputLevel.hidden
      .avgAudioGoogRtt.hidden
      .audioGoogJitterReceived.hidden

