.bdsft-webrtc
	.callHistory
		position absolute
		right auto
		left 200px
		bottom 40px
		top auto
		background #292929
		background-color #292929
		border-radius 0
		border 1px solid #3c3c3c
		box-shadow none
		color #999999
		z-index 200
		padding 10px
		.details
			display none
		.rowSpace
			padding .5em
		.actions, .classHistoryActions
			text-align center
			vertical-align middle
			height 40px
		.classHistoryActions
			min-width 160px
			.paging
				display inline-block
				width 20px
				text-align center
		.content
			padding 0px
			margin-bottom 10px
		.close
			a
				color #04AFF0
				font-size 14px
				font-weight 700
				text-decoration none
				margin-left 8px
				&:hover
					color #017EAD
		.callLink
			display inline-block
			background #6F6F6F
			padding 6px 10px 6px 10px
			text-decoration none
			font-weight bold
			color #FFF !important
			border-radius 50px
		.callHistoryDetails
			padding 10px
			background #292929
			vertical-align top
			font-size 14px !important
			box-shadow 2px 0 0 0 #888, 0 2px 0 0 #888, 2px 2px 0 0 #888, 2px 0 0 0 #888 inset, 0 2px 0 0 #888 inset
			.detailsClose
				a
					text-decoration none
					outline-color rgba(0, 0, 0, 0)
					color #aaa
					font-size 18px
		.clear
			a
				text-decoration none
				color #FFF
				font-size 14px
				font-weight 700
				background #6F6F6F
				border-radius 20px
				padding 5px 10px
				margin-left 15px
				&:hover
					background #4E4E4E
		.statsHolder
			.stats
				position static
				opacity 1
				border none
				padding 0
				.statsVar
					color #2BA6CB
					display block
				span
					display inline !important
				.col
					width 115px
					display inline-block
					white-space nowrap

		&.audioOnly:not(.offerToReceiveVideo)
			top 45px
			bottom auto

		&.started .hist-details-arrow, 
		&.started .callHistoryDetails
			display none !important

		&.enableCallHistory.history-shown
			{fadeInPopup}

		&.enableCallHistory:not(.history-shown)
			{fadeOut}

		&.enableCallHistory:not(.connected) .callLink
			display none

		&[class*="call-selected"] .details
			display table-cell
			
		&[class*="call-selected-0"] #call_0,
		&[class*="call-selected-1"] #call_1,
		&[class*="call-selected-2"] #call_2,
		&[class*="call-selected-3"] #call_3,
		&[class*="call-selected-4"] #call_4,
		&[class*="call-selected-5"] #call_5,
		&[class*="call-selected-6"] #call_6,
		&[class*="call-selected-7"] #call_7,
		&[class*="call-selected-8"] #call_8,
		&[class*="call-selected-9"] #call_9,
		&[class*="call-selected-10"] #call_10,
		&[class*="call-selected-11"] #call_11,
		&[class*="call-selected-12"] #call_12,
		&[class*="call-selected-13"] #call_13,
		&[class*="call-selected-14"] #call_14,
		&[class*="call-selected-15"] #call_15,
		&[class*="call-selected-16"] #call_16,
		&[class*="call-selected-17"] #call_17,
		&[class*="call-selected-18"] #call_18,
		&[class*="call-selected-19"] #call_19,
		&[class*="call-selected-20"] #call_20,
		&[class*="call-selected-21"] #call_21,
		&[class*="call-selected-22"] #call_22,
		&[class*="call-selected-23"] #call_23,
		&[class*="call-selected-24"] #call_24,
		&[class*="call-selected-25"] #call_25,
		&[class*="call-selected-26"] #call_26,
		&[class*="call-selected-27"] #call_27,
		&[class*="call-selected-28"] #call_28,
		&[class*="call-selected-29"] #call_29,
		&[class*="call-selected-30"] #call_30
			box-shadow 2px 0 0 0 #292929, 0 2px 0 0 #888, 2px 2px 0 0 #888, 2px 0 0 0 #888 inset, 0 2px 0 0 #888 inset
			position relative