.bdsft-webrtc
	.history-row:hover, .history-row.active
		background #353535
	.history-row
		cursor pointer
		position relative
		padding 5px
		span
			padding 0px 5px
		.row
			height 46px
		.direction
			color #3DA005
			font-size 18px
		.icon-arrow-down-thick
			color #E9651D
		.destination
			color #B3B3B3
			font-size 18px
			text-decoration none
		.date
			color #B3B3B3
			font-size 10px
		.length
			color #B3B3B3
			font-size 10px
		.details-arrow
			font-size 16px